<!DOCTYPE html>
<html lang = "en">

<!--Header-->
<head>
    <meta charset="UTF=8">
    <style> /* set the CSS */
        .bar { fill: steelblue; }
        </style>
    <title>JABBIC</title>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-yrfSO0DBjS56u5M+SjWTyAHujrkiYVtRYh2dtB3yLQtUz3bodOeialO59u5lUCFF" crossorigin="anonymous">
</head>

<!--Nav Bar Setup-->
<body>
 <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">JABBIC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/model">Model Structure</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/d3">D3 Visualizations</a>
        </li>
      </ul>
    </div>
  </nav>

  {% block content %}
  {% endblock %}
</body>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='js/plotly.js') }}"></script>
</html>