{% extends "base.html" %}
{% block content %}
      <div class="container">
        <div class="row">
          <div class="col-xs-12  col-md-9">
            <div class="article">
              <br><h2>Model Accuracy By Genre</h2><br>
              <p>As you might expect, our model succeeded with certain books genres and struggled mightily with others.
                It categorizes test preparation books strikingly well, but it throws up its hands with politics and 
                social sciences books. Refer to the below bar chart for a full breakdown.</p>
            </div>
          </div>
        </div>
      </div>
      <div id="svg-area">
      </div>

{% endblock %}