{% extends "base.html" %}

{% block content %}

<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12  col-md-12">
        <div class="article">
          <br>
          <h2>CNN Infrastructure</h2><br>
          <p>The CNN we used is a verson of the VGG neural network that was pretrained on the ImageNet database of images.
            Below is a simple diagram outlining the basic structure.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
    <img src='static/model.jpg'><img>
    </div>
  </div>
  {% endblock %}
